html,
body {
    padding-top: 3%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: #333;
    margin-left: 5%;
    margin-right: 5%;
}

#map {
    margin-top: 3%;
    margin-bottom: 3%;
    width: 100%;
    height: 75%;
    /* height: 100%; */
    background: #777777;
    /* display: block; */
}

.navbar {
    /* background-color: #337ab7; */
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 0;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.form {
    margin-left: auto;
    margin-right: auto;
}